<html>
<head></head>

<body>
    <h1>Welcome to your csrf project</h1>
    <h3>Your secret message is : {{.SecretMessage}}</h3>

    <form name="logout">
    </form>

    <form name="deleteUser"></form>

    
</body>

</html>